<template>
    <div>
        <div class="row mb-3">
            <div class="col-md-6">
                <h5>Lista de Peliculas</h5>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success float-right"
                        data-toggle="modal"
                        data-target="#newMovieModal">Nueva Pelicula <i class="fas fa-plus"></i></button>
            </div>
        </div>
        <hr>
        <!--Moviews Table-->
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">F. de Publicación</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in peliculas" :key="index">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.fecha_publicacion }}</td>
                    <td>{{ item.estado == 1 ? "Activo" : "Inactivo" }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm"
                                data-toggle="modal"
                                data-target="#editMovieModal"
                                @click="editMovieForm(item)"><i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-sm"
                                @click="deleteMovie(item, index)"><i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                    <div style="display: none;">{{ item.imagen_path }}</div>
                </tr>
            </tbody>

        </table>

        <!--MODALS-->
        <!--New Movie-->
        <div class="modal fade" id="newMovieModal" data-backdrop="static"
             data-keyboard="false" tabindex="-1" aria-labelledby="newMovieModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Agregar nueva Pelicula</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="newMovie" enctype="multipart/form-data">
                            <label for="">Nombre</label>
                            <input type="text" placeholder="Nombre"
                                   class="form-control form-control-sm mb-2" v-model="pelicula.nombre"/>
                            <label for="">Imagen</label>
                            <input type="file" placeholder="Subir imagen"
                                   class="form-control mb-2" v-on:change="onChange"/>
                            <label for="">Fecha de Publicación</label>
                            <input type="date" placeholder="Fecha de Publicación"
                                   class="form-control form-control-sm mb-2" v-model="pelicula.fecha_publicacion"/>
                            <label for="">Estado</label>
                            <select class="form-control form-control-sm mb-3" v-model="pelicula.estado">
                                <option disabled value="">Selecciona una opción</option>
                                <option value="0">Inactivo</option>
                                <option value="1">Activo</option>
                            </select>
                            <!--Turnos select-->
                            <label for="">Turnos</label>
                            <select class="form-control form-control-sm mb-3"  v-model="pelicula.turno_id">
                                <option disabled value="">Selecciona una opción</option>
                                <option v-for="(item, index) in turnos" :value="index">{{ item.turno }}</option>
                            </select>
                            <button type="submit" class="btn btn-success float-right">Agregar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit Movie-->
        <div class="modal fade" id="editMovieModal" data-backdrop="static"
             data-keyboard="false" tabindex="-1" aria-labelledby="editMovieModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editTurnoModalTitle">Editar Pelicula</h5>
                        <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close"
                                @click="cancelEdition">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="editMovie(pelicula)" enctype="multipart/form-data">
                            <label for="">Nombre</label>
                            <input type="text" placeholder="Nombre"
                                   class="form-control form-control-sm mb-2" v-model="pelicula.nombre"/>
                            <label for="">Fecha de Publicación</label>
                            <input type="date" class="form-control form-control-sm mb-2"
                                   v-model="pelicula.fecha_publicacion"/>
                            <label for="">Estado</label>
                            <select class="form-control form-control-sm mb-3" v-model="pelicula.estado">
                                <option disabled value="">Selecciona una opción</option>
                                <option value="0">Inactivo</option>
                                <option value="1">Activo</option>
                            </select>
                            <!--Turnos select-->
                            <label for="">Turnos</label>
                            <select class="form-control form-control-sm mb-3"  v-model="pelicula.turno_id">
                                <option disabled value="">Selecciona una opción</option>
                                <option v-for="(item, index) in turnos" :value="index">{{ item.turno }}</option>
                            </select>
                            <button type="submit" class="btn btn-primary float-right">Editar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal" @click="cancelEdition">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            peliculas: [],
            pelicula: {nombre: '', imagen_path: null, fecha_publicacion: '', estado: '', turno_id: ''},
            turnos: [],
            turno: {id: '', turno: '', estado: ''},
            file: null
        }
    },
    created() {
        axios.get('/peliculas')
            .then(res => {
                this.peliculas = res.data[0];
                this.turnos = res.data[1];
            })
    },
    methods: {
        onChange(e) {
            this.pelicula.imagen_path = e.target.files[0];
        },
        newMovie() {
            //Validation to know if the fields are empty.
            if (this.pelicula.nombre.trim() === '' || this.pelicula.fecha_publicacion.trim() === '' || this.pelicula.estado === '') {
                alert('Porfavor llene todos los campos.');
                return;
            }

            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }

            //Adding fields data to an object.
            let data = new FormData();
            data.append('nombre', this.pelicula.nombre);
            data.append('file', this.pelicula.imagen_path);
            data.append('fecha_publicacion', this.pelicula.fecha_publicacion);
            data.append('estado', this.pelicula.estado);
            data.append('turno_id', this.pelicula.turno_id);

            axios.post('/peliculas', data, config)
                .then(res => {
                    this.peliculas.push(res.data)
                })
                .catch((err) => console.log(err));

            //Cleaning form fields
            this.pelicula.nombre = '';
            this.pelicula.imagen_path = null;
            this.pelicula.fecha_publicacion = '';
            this.pelicula.estado = '';
            this.pelicula.turno_id = '';
            $('#newMovieModal').modal('hide');
        },
        editMovieForm(item){
            this.pelicula.id = item.id;
            this.pelicula.nombre = item.nombre;
            this.pelicula.fecha_publicacion = item.fecha_publicacion;
            this.pelicula.estado = item.estado;
            this.pelicula.turno_id = item.turno_id;
        },
        editMovie(pelicula){
            const params = {
                nombre: pelicula.nombre,
                fecha_publicacion: pelicula.fecha_publicacion,
                estado: pelicula.estado,
                turno_id: pelicula.turno_id

            }
            axios.put(`/peliculas/${pelicula.id}`, params)
                .then(res=>{
                    const index = this.peliculas.findIndex(item => item.id === res.data.id);
                    this.peliculas.splice(index, 1, res.data);
                }, function (error){
                    console.log(error.response.data);
                })
            axios.get('/peliculas')
                .then(res => {
                    this.peliculas = res.data[0];
                    this.turnos = res.data[1];
                })

            //Cleaning form fields
            this.pelicula.nombre = '';
            this.pelicula.fecha_publicacion = '';
            this.pelicula.estado = '';
            this.pelicula.turno_id = '';

            $('#editMovieModal').modal('hide')
        },
        cancelEdition(){
            this.pelicula = {nombre: '', imagen_path: null, fecha_publicacion: '', estado: '', turno_id: ''};
        },
        deleteMovie(item, index){
            axios.delete(`/peliculas/${item.id}`)
                .then(()=>{
                    this.peliculas.splice(index, 1);
                })
        }
    }

}
</script>
