<template>
    <div>
        <!--<b-button v-b-toggle.sidebar-variant>Toggle Sidebar</b-button>
        <b-sidebar id="sidebar-variant" title="Sidebar" bg-variant="dark" text-variant="light" shadow>
            <div class="px-3 py-2">
                <p>
                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
                    in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                </p>
                <b-img src="https://picsum.photos/500/500/?image=54" fluid thumbnail></b-img>
            </div>

        </b-sidebar>-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav d-block">
                    <li class="nav-item">
                        <a href="/home" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/turnos" class="nav-link">Turnos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/peliculas" class="nav-link">Peliculas</a>
                    </li>
                </ul>

        </nav>

    </div>
</template>
