<template>
    <div>
        <div class="row mb-3">
            <div class="col-md-6">
                <h5>Lista de Turnos</h5>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success float-right"
                        data-toggle="modal"
                        data-target="#newTurnoModal">Nuevo Turno  <i class="fas fa-plus"></i></button>
            </div>
        </div>
        <hr>
    <!--Turnos List-->
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th class="" col>ID</th>
                <th class="" col>Turno</th>
                <th class="" col>Estado</th>
                <th class="" col>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in turnos" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.turno }}</td>
                <td>{{ item.estado == 1 ? "Activo" : "Inactivo" }}</td>
                <td>
                    <button class="btn btn-primary btn-sm"
                            data-toggle="modal"
                            data-target="#editTurnoModal"
                            @click="editForm(item)"><i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm"
                            @click="deleteTurno(item, index)"><i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            </tbody>

        </table>

    <!--MODALS-->
        <!--New Turno-->
        <div class="modal fade" id="newTurnoModal" data-backdrop="static"
             data-keyboard="false" tabindex="-1" aria-labelledby="newTurnoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Agregar nuevo Turno</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="newTurno">
                            <label for="">Turno</label>
                            <input type="time" placeholder="Turno"
                                   class="form-control form-control-sm mb-2" v-model="turno.turno" />
                            <label for="">Escoge un Estado</label>
                            <select class="form-control form-control-sm mb-3" v-model="turno.estado">
                                <option disabled value="">Selecciona una opción</option>
                                <option value="0">Inactivo</option>
                                <option value="1">Activo</option>
                            </select>
                            <button type="submit" class="btn btn-success float-right">Agregar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit Turno-->
        <div class="modal fade" id="editTurnoModal" data-backdrop="static"
             data-keyboard="false" tabindex="-1" aria-labelledby="editTurnoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editTurnoModalTitle">Editar Turno</h5>
                        <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close"
                                @click="cancelEdition">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="editTurno(turno)">
                            <label for="">Turno</label>
                            <input type="time" placeholder="Turno"
                                   class="form-control form-control-sm mb-2" v-model="turno.turno" />
                            <label for="">Escoge un Estado</label>
                            <select class="form-control form-control-sm mb-3" v-model="turno.estado">
                                <option disabled value="">Selecciona una opción</option>
                                <option value="0">Inactivo</option>
                                <option value="1">Activo</option>
                            </select>
                            <button type="submit" class="btn btn-primary float-right">Editar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal" @click="cancelEdition">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            turnos: [],
            turno: {turno: '', estado: ''}
        }
    },
    created() {
        axios.get('/turnos')
            .then(res => {
            this.turnos = res.data;
        })
    },
    methods:{
        newTurno(){
            //Validation to know if the fields are empty.
            if(this.turno.turno.trim() === '' || this.turno.estado.trim() === ''){
                alert('Favor de rellenar todos los campos');
                return;
            }
            //Adding fields data to an object.
            const params = {
                turno: this.turno.turno,
                estado: this.turno.estado
            }
            axios.post('/turnos', params).then(res => {
                this.turnos.push(res.data)
            }).catch((err) => console.log(err));
            //Cleaning form fields
            this.turno.turno = '';
            this.turno.estado = '';
            $('#newTurnoModal').modal('hide')
        },
        editForm(item){
            this.turno.turno = item.turno;
            this.turno.estado = item.estado;
            this.turno.id = item.id;
        },
        editTurno(turno){
            const params = {turno: turno.turno, estado: turno.estado};
            console.log(params);
            axios.put(`/turnos/${turno.id}`, params)
                .then(res=>{
                    const index = this.turnos.findIndex(turnoItem => turnoItem.id === res.data.id);
                    this.turnos.splice(index, 1, res.data);
                })
            axios.get('/turnos')
                .then(res =>{
                    this.turnos = res.data;
                })
            //Cleaning form fields
            this.turno.turno = '';
            this.turno.estado = '';
            $('#editTurnoModal').modal('hide')
        },
        cancelEdition(){
            this.turno = {turno: '', estado: ''};
        },
        deleteTurno(item, index){
            axios.delete(`/turnos/${item.id}`)
            .then(()=>{
                this.turnos.splice(index, 1);
            })
        }
    }
}
</script>
